.content-right{
    border-top: 5px solid #82fdd4;
    width: 100%;
    text-align: center;
}

form{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

form table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

form table td {
    border: none;
    padding: 10px;
    font-size: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

table td{
    padding: 5px;
    border-bottom: 2px solid #170754;

}

table tr {
    padding:2px;
    
}

input{
    font-size: 20px;
}

form input {
    background-color: #82fdd4;
    color:#170754;
    border-radius: 50px;
    border:none;
    padding: 8px;
}

form td input{
    background-color: white;
    border: 1px solid #170754;
    border-radius: 0px;
    padding: 1px;
}

form input:hover{
    background-color: #170754;
    color:#82fdd4;
}

form td input:hover{
    background-color: white;
    color:black;
}

